/* VLibras styling */
div[data-vw].enabled {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
  display: block;
}

div[data-vw-access-button].active {
  position: relative;
  display: block;
  width: auto !important;
}

div[data-vw-plugin-wrapper] {
  position: relative;
  z-index: 10000;
}

.vw-plugin-top-wrapper {
  position: relative;
  z-index: 10001;
}

#vlibras-translator {
  z-index: 10000 !important;
} 